*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Symbols', sans-serif;
    color: #fff;
}

/*    Estilos del header de la página    */

.contenedor_principal{
    background-color: #222;
}

.nav_container{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 105px;
    display: flex;
    border-bottom: 1px solid #fff;
    transition: transform 0.5s ease;
    background-color: #222;
}

.titulo_pagina{
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 65px;
    width: 50%;
    align-items: center;
    text-align: center;
}

.nav_enlaces{
    list-style: none;
    display: flex;
    width: 48%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.nav_enlaces a{
    text-decoration: none;
}

.titulo_seccion{
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

/*    Estilos de la parte del main    */

.informacion{
    z-index: 0;
    width: 100%;
    height: auto;
    margin: 105px 0 0;
    display: flex;
    border-bottom: 1px solid #fff;
}

.parte_izquierda{
    position: relative;
    left: 0;
    width: 40%;
    height: 800px;
    overflow: hidden;
    border-right: 1px solid #fff;
}

.img_emp{
    width: 100%;
    height: 100%;
    image-rendering: auto;
    background-size: cover;
}

.parte_derecha{
    position: relative;
    right: 0;
    width: 56%;
    height: 800px;
    padding: 0 40px;
    overflow: hidden;
}

.texto_informativo{
    padding: 15% 0 0;
    text-align: center;
}

.texto_informativo h2{
    font-size: 50px;
}

/* Estilos seccion de recetas */

.recetas{
    z-index: 0;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #fff;
}

.contenedor_cartas{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0 0;
}

.carta_receta{
    border: 2px solid #fff;
    width: 370px;
    height: 340px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px 20px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: 0.3s all ease;
    cursor: pointer;
}

.carta_receta:hover{
    border: 2px solid #ccc;
    transform: scale(1.03) perspective(2000px);
    cursor: pointer;
}

.carta_receta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sombreado_cartas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.carta_receta h3, .carta_receta p{
    z-index: 1;
    position: relative;
}

/* Estilos seccion de departamentos */

.departamentos{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #fff;
}

.carta_departamento{
    border: 2px solid #fff;
    width: 370px;
    height: 160px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px 20px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: 0.3s all ease;
    cursor: pointer;
}

.carta_departamento:hover{
    border: 2px solid #ccc;
    transform: scale(1.03) perspective(2000px);
    cursor: pointer;
}

.carta_departamento img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.carta_departamento h3, .carta_departamento h4{
    z-index: 1;
    position: relative;
}

/* Estilos seccion receta del dia */

.receta_del_dia{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #fff;
}

.contenedor_receta_dia{
    width: 90%;
    margin: 10px 5%;
    border: 2px solid #fff;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px;
}

.contenedor_receta_dia{
    display: block;
}

.header_receta_dia{
    position: relative;
    overflow: hidden;
    height: 400px;
}

.header_receta_dia img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header_receta_dia h3{
    text-align: center;
    font-size: 26px;
}

.header_receta_dia h4{
    padding: 0 0 0 60px;
    font-size: 20px;
}

.contenedor_listas{
    padding: 0 0 0 50px;
    display: flex;
}

.contenedor_listas > ul{
    list-style: none;
}

.lista_izquierda{
    margin: 0 40px 0 0;
}

.contenedor_preparacion h3{
    text-align: center;
    font-size: 20px;
}

.contenedor_preparacion h4, .contenedor_preparacion p{
    margin: -10px 120px;
}

.contenedor_preparacion p{
    line-height: 1;
}

.contenedor_preparacion li{
    margin: 10px 0;
}

.contenedor_preparacion p:last-child{
    margin-bottom: 5px;
}



/* Estilos seccion sobre nosotros */

.sobre_nosotros{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #fff;
}

.contenedor_sobre_nosotros{
    width: 100%;
    display: flex;
}

.sobre_nosotros_izquierda{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre_nosotros_derecha{
    width: 48%;
    text-align: justify;
    padding: 10px;
}

.sobre_nosotros h5, .sobre_nosotros h6{
    text-align: center;
}

.sobre_nosotros h5{
    font-size: 26px;
    font-weight: 800;
}

.sobre_nosotros h6{
    font-size: 16px;
}

.sobre_nosotros p{
    margin: 15px 0 0;
}

.sobre_nosotros_izquierda img{
    max-width: 100%;
    height: auto;
}

/* Estilos para el formulario */
.contenedor_formulario{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.formulario_contacto{
    width: 80%;
    height: auto;
    display: inline-block;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 18px;
}

.formulario_contacto *{
    width: 100%;
    display: inline-block;
    margin: 1% 0;
}

.formulario_contacto > label{
    text-align: left;
    padding: 5px;
}

.formulario_contacto > input{
    padding: 10px 2px;
    outline: none;
    border: 1px dotted #fff;
    background: none;
    border-radius: 18px;
}

.btn_enviar{
    width: 10%;
    color: #222;
    outline: none;
    border: 1px solid #fff;
    border-radius: 18px;
}